*{
    padding:0;
    box-sizing: border-box;
    margin:auto;
}
h1{
   text-shadow:0em 1em 0.2em orange;
   text-align:center;
   margin:1em;
}
.sind{
    border-style:solid;
    box-shadow:0em -1em 0.2em black;
    border-radius:1em;
    margin:2em;
    widtht:50%;
    padding:2em;
    display:flex;
}
.sind img{
    width:5em;
    height:2.5em;
    padding:1em;
}
.sind a>img{
    width:10em;
    height:10em;
}
.noticia{
    text-align:justify;
    padding-left:30%;
    padding-right:30%;
    padding-bottom: 5%;
}
p{
    margin:0.5em;
}
.noticia h3,.noticia h1{
    color:lightpink;
    text-align:center;
    padding:5%;
}

