*{
    padding:0;
    box-sizing: border-box;
    margin:auto;
}
h1{
   text-shadow:0 -1 0.2 orange; 
}
.sind{
    border-style:solid;
    box-shadow:0 -1 0.2 black;
}
.sind img{
    width:20px;
    height:10px;
}
.sind a>img{
    width:40px;
    height:40px;
}
.noticia{
    text-align:justify;
    padding-left:30%;
    padding-right:30%;
    padding-bottom: 5%;
}
p{
    margin:0.5em;
}
.noticia h3,.noticia h1{
    color:lightpink;
    text-align:center;
    padding:5%;
}

